/* .app-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 1rem;
}

.tableContent {
	border-collapse: collapse;
	width: 75%;
}

.tableHead,
.tableData {
	border: 1px solid #ffffff;
	text-align: left;
	padding: 8px;
	font-size: 15px;
}

.tableHead {
	background-color: rgb(110, 110, 110);
	color: white;
}

.tableData {
	background-color: rgb(110, 110, 110);
	color: white;
}

form {
	display: flex;
	gap: 5px;
}

form td:last-child {
	display: flex;
	justify-content: left;
}

form * {
	font-size: 15px;
} */
