

.errorBody{
   width: 100%;
   justify-content: center;
   display: flex;
   height: 100vh;
   align-items: center;
   background-color: hsl(213.6, 100%, 95.1%);
  

    & .errorCard {
     
         box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
         padding: 2rem;
         border-radius: 1rem;
         background-color: whitesmoke;
         text-align: center;

         & .errorheading{
              color: rgb(235, 88, 88);
              font-size: 3rem;
         }
         & .errortext{
           font-size: 1.5rem;
     }
     
         
    }

}