@use "../../utility/variable" as *;
@use "../../utility/helper" as *;

// Contacts
.overview {
	@include flexCol(flex-start, flex-start);
	gap: 10px;

	width: 300px;
	height: fit-content;
	transition: all 0.3s ease-in-out;

	// Start - Common Styles
	& * {
		transition: all 0.1s linear;
	}

	& .icon {
		width: 18px;
		height: 18px;
		color: var(--clr_blue);
		transition: none;
	}

	& button {
		border: none;
		outline: none;
		cursor: pointer;
	}

	& :is(h1, h2, h3, h4, h5, h6, p, a) {
		color: var(--clr_blueDark);
	}
	// End - Common Styles

	// Expand/Compact View
	& .view {
		position: absolute;
		inset: 20px auto auto 447px;

		@include flex(center, center);

		width: 45px;
		height: 45px;
		border-radius: 100%;
		background-color: var(--clr_blue);
		transition: all 0.3s ease-in-out;

		& .icon {
			color: var(--clr_white);

			width: 16px;
			height: 16px;
			margin: 0 3px 2px 0;
			stroke-width: 2px;
		}

		&:is(:hover, :focus) {
			background-color: var(--clr_green);
		}
	}

	// Heading
	& .head {
		font-size: 1.5rem;
		font-weight: var(--fw_semiBold);
	}

	// Contact List
	& .list {
		@include flexCol(flex-start, flex-start);
		gap: 5px;

		width: 100%;
		height: 100%;
		transition: all 0.3s ease-in-out;

		// Individual Contacts
		& .item {
			@include flex(center, flex-start);
			gap: 15px;

			width: 100%;
			height: 100%;
			padding: 10px;
			border-radius: 5px;
			background-color: transparent;
			transition: all 0.3s ease-in-out;

			&:is(:hover, :focus) {
				background-color: var(--clr_white);
				box-shadow: 4px 4px 15px var(--clr_blueShadowLight);
			}

			&.active {
				background-color: var(--clr_white);
				outline: 2.5px solid var(--clr_blue);
				outline-offset: -2.5px;
				box-shadow: 0 10px 20px var(--clr_blueShadow);
			}

			// Contact Image
			& .image {
				width: 55px;
				height: 55px;
				object-fit: cover;
				border-radius: 1000px;
			}

			// Contact Details
			& .details {
				@include flexCol(flex-start, center);

				& .name {
					font-size: 1.15rem;
					font-weight: var(--fw_medium);
				}

				& .meeting {
					font-size: 0.9rem;
				}
			}
		}
	}
}

// Compact Behaviour
.overview.compact {
	width: 60px;

	& .view {
		inset: 20px auto auto 208px;

		& .icon {
			margin: 0 0 2px 3px;
			transform: rotate(180deg);
		}
	}

	& .head {
		display: none;
	}

	& .list {
		margin-top: 50px;

		& .item {
			justify-content: center;

			&:is(:hover, :focus) {
				background-color: transparent;
				box-shadow: none;
			}

			& .image {
				&:is(:hover, :focus) {
					filter: brightness(0.6);
				}
			}

			& .details {
				display: none;
			}
		}
	}
}
